env_vars_required PROJECT_ROOT

# Source envs from parent dirs
source_up ".envrc"

# Use go version from go.mod
export GOTOOLCHAIN=auto

# Explicitly extract version from go.mod
if has go; then
    export GO_VERSION=$(go list -m -f '{{.GoVersion}}')
fi
